/* CSS Variables */
:root {
  --content-font-color: #050300;
  --background-content-color: #e3e3e3;
  --font-family: "Courier New", Courier, monospace;
}

/* Reset all elements */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* body styles  */
body {
  background-color: #010200;
  font-family: var(--font-family);
}

/* header styles */
.header {
  padding: 40px;
  background-color: #e3e3e3;
  color: var(--content-font-color);
}

.header h1 {
  display: block;
  font-size: 48px;
}

/*Navigation Section */
nav {
  margin-right: 5px;
  float: right;
  font-family: var(--font-family);
  font-size: 25px;
}

nav ul {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
}

nav ul li {
  display: inline-block;
  margin-left: 50px;
}

a:hover {
  color: #ffffff;
  text-decoration: underline;
}

a {
  color: var(--content-font-color);
  text-decoration: none;
}

/* Main Banner Image styles */
.image {
  height: 250px;
  width: 100%;
  margin-bottom: 25px;
  background-image: url(/coding-canvas/assets/images/dna_template_banner.jpeg);
  background-size: contain;
}

.header-h2 {
  font-size: 80px;
  text-decoration: underline;
  margin-bottom: 20px;
  padding: 40px;
  color: var(--content-font-color);
}
/* Added pseduo element to increase paragraph text size upon hover */
p:hover {
  display: block;
  font-size: 30px;
}
/* Work Section Cards */

.card-body {
  background-color: var(--background-content-color);
  color: var(--content-font-color);
  margin: 10px 10px;
}

.card-title {
  font-size: 40px;
  font-weight: 550;

}

.card{
  position: relative;
  display: inline-block;
  margin-left: 25px;
  margin-right: 25px;
}


.h-100 {
  margin-top: 50px;
}

/* Container */

#cardContainer {
 
}


/* footer section */

.footer {
  padding: 20px;
  background-color: #2a607c;
  color: var(--content-font-color);
  text-align: center;
}

.footer h2 {
  font-size: 24px;
}

.Section-Header {
  color: var(--content-font-color);
  font-size: 60px;
  margin-bottom: 20px;
}

.background {
  padding: 40px;
  background-color: var(--background-content-color);
  color: var(--content-font-color);
  margin: 50px 20px;
}

#Resume {
  text-align: center;
  font-weight: 500;
}

#Contact {
  text-align: center;
}

.info {
  font-size: 20px;
  font-weight: bold;
  color: #01354f;
}

h3::after {
  content: "  ☎️  📧";
}
